.addingItemArea > h2 {
  color: grey;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  font-weight: lighter;
  font-family: Arial;
}

body {
  background-image: url("/images/cumulus-cloud.jpg");
}
.addingItemArea{
  background-color: white;
  margin: 0 auto;
  width: 300px;
  }

.normalInput{
  color: grey;
  font-size: 14px;
  display: block;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  width: 220px;
}
.normalInput.error{
  border: 1px solid red;
}
.addingItemArea button{
  margin: 0 auto;
  width: 234px;
  display: block;
  background-color: #3385ff;
  padding: 5px;
  color: white;
  margin-top: 10px;
  font-size: 12px;
}
.addingFooter > li{
  display: inline-block;
  color: grey;
  width: 110px;
  text-align: center;
  margin-bottom: 30px;
}
.addingFooter > li > a{
  color: lightgray;
  text-decoration: none;
}
p.error {
  color: red;
  width: 220px;
  padding-top: 5px;
  margin: 0 auto;
}

.successMessage {
    text-align: center;
    width: 300px;
    font-size: 23px;
    color: #5ec113;
}
.buttonContainer {
    height:70px;
}
#homeButton {
    width: 140px;
    box-sizing: content-box;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 7px;
    background-color: #dc1357;
    border-radius: 30px;
    transition-duration: 0.4s;
    opacity: 0.7;
}

#homeButton:hover{
    background-color:green;
    opacity: 1;

}

